header {
  position:sticky;
  top: 0px;
  background-color: #ffffff;
  padding-bottom: 10px;
  border-bottom: #2e69ad 2px solid;
}

nav > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}
nav > div > a {
  padding-top: 10px;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
nav > div img {
  width: 25%;
  height: auto;
}

.icon-shopping-cart:before {
  content: "\e906";
}

#carrito {
  font-family: "iconos";
  color: red;
}

#menu {
  display: flexbox;
  justify-content: space-around;
  align-items: center;
  width: 99%;
  height: 10%;
  font-size: 20px;
  margin-top: 10px;
  font-family: "Montserrat";
  font-weight: 320;
}

#menu a {
  margin-left: 1px;
  margin-right: 1px;
  padding: 2px;
  color: #777777;
  text-decoration: none;
}

#menu a:hover {
  color: #ff0000;
  font-weight: bold;
}

  /* ---------------------------- */

  body {
    padding: 0px;
    margin: 0px;
  }

  /*-----------------------------*/
  footer {
    padding-top: 200px;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-image: url("../img/footer-cbsglupglup.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2e69ad;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  footer > div > img {
    width: 30%;
    height: auto;
  }
  
  footer h2 {
    font-size: 20px;
  }
  
  footer p, footer a {
    font-size: 15px;
  }
  
  div > iframe {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  footer p#wa {
    font-family: "iconos";
    font-size: 17px;
    color: rgb(0, 248, 0);
  }
  
  footer p#mail {
    font-family: "iconos";
    font-size: 17px;
  }
  footer a#yt {
    font-family: "iconos";
    color: #ff0000;
    font-size: 17px;
  }
  
  footer a#fb {
    font-family: "iconos";
    color: #1877f2;
    font-size: 17px;
  }
  
  footer a#ig {
    font-family: "iconos";
    color: #a240e4;
    font-size: 17px;
  }
  
  #legal {
    position: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    bottom: 0px;
    align-items: center;
    justify-content: center;
    
  }
  
  #legal a {
    color: #ffffff;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    background-color: #2e69ad;
    text-decoration: none;
    margin: 5px;
  }
  
  @media screen and (max-width: 450px) {
    #legal {
      font-size: 8px;
    }
    #legal a {
      font-size: 8px;
    }
  }
  /* ---------------------------- */
  
  @font-face {
    font-family: "iconos";
    src:  url("../fuenteiconos.ttf");
  }
  
  .icon-shopping-cart:before {
    content: "\e906";
  }
  .icon-facebook:before {
    content: "\e900";
    color: #1877f2;
  }
  .icon-instagram:before {
    content: "\e901";
    color: #e4405f;
  }
  .icon-mail-dot-ru:before {
    content: "\e902";
    color: #168de2;
  }
  .icon-twitter:before {
    content: "\e903";
    color: #1da1f2;
  }
  .icon-whatsapp:before {
    content: "\e905";
    color: #25d366;
  }
  .icon-youtube:before {
    content: "\e904";
    color: #f00;
  }
  .icon-phone:before {
    content: "\e942";
  }
  