body{
  padding: 2em;
  padding-left: 5em;
}

h1 {
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 15px;
  padding: 10px;
  gap: 20px;
}

li {
  list-style: none;
  margin: 0 10px;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: #424241;
}

nav {
  display: flex;
  width: 83%;
  justify-content: flex-end;
}

body{
  background-image: url(../img/hero.png);
  background-position: top right;
  background-size: 60%;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
}

main > a {
  background-color: rgb(126, 218, 210);
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}

h2 > span {
  color: rgb(126, 218, 210);
  
}

h2 {
  font-family: 'bebas neue', sans-serif;
  font-size: 7.8em;
  font-weight: 400;
  color: #424241;
  margin: 0;
  padding: 0;
  width: 50%;
  margin-top: 5%;
}

p {
  font-family: 'Poppins', sans-serif;
  color: #909090;
  font-weight: 400;
  font-size: 24px;
}

main > p {
  width: 40%;
  line-height: 1.5em;
  margin-bottom: 5%;
}

main > a {
  margin-bottom: 5%;
  padding: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
}

section:first-of-type {
  width: 40%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 3em;
}

section:first-of-type > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  font-size: large;
}

.number {
  font-family: 'bebas neue', sans-serif;
  font-size: 2.7em;
  margin: 5px;
  color: #424241;
  font-weight: 600;;
}
.text {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8em;
  color: #909090;
  margin: 5px;
}

section:last-of-type {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1em;
  gap: 20px;
}

section:last-of-type > div {
  background-color: white;
  gap: 20px;
  padding: 32px;
  width: 80%;
}

section:last-of-type > div > p {
  font-size: large;
}

